[submodule "FrontEnd-Caderneta"]
	path = FrontEnd-Caderneta
	url = git@github.com:lucasfstmd/FrontEnd-Caderneta.git
	branch = main
[submodule "BackEnd-Caderneta"]
	path = BackEnd-Caderneta
	url = git@github.com:lucasfstmd/BackEnd-Caderneta.git
	branch = master
